body {
  font-family: Arial;
  padding: 20px;
}

select {
  padding: 8px;
  margin-bottom: 20px;
}

#products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
}

.card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
}

.tag {
  color: white;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
}

.electronics {
  background: blue;
}

.clothing {
  background: green;
}
